<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Información sobre pedidos</title>
    <link rel="stylesheet" href="../styles/ordersInfo.css" />
  </head>
  <body>
    <div id="contenedorLogo">
      <a href="../index.html"
        ><img
          src="../assets/img/logoPastelazo.png"
          alt="Logo de Pastelazo"
          width="180px"
          id="logo"
        />
      </a>
    </div>
    <h1>Información sobre pedidos</h1>
    <table>
      <tr>
        <th>Nombre del cliente</th>
        <th>Teléfono</th>
        <th>Correo electrónico</th>
        <th>Descripción general del pastel</th>
        <th>Selección de sabores</th>
        <th>Selección de adornos</th>
      </tr>
      <tr>
        <td>Luis Manuel</td>
        <td>6645317869</td>
        <td>luismanuel123@gmail.com</td>
        <td>Requiero de un pastel para mi boda, con presentación elegante.</td>
        <td>Chocolate, Vainilla y Fresa</td>
        <td>Adorno de boda</td>
      </tr>
      <tr>
        <td>Juan Pérez</td>
        <td>6625792351</td>
        <td>juanitop@outlook.com</td>
        <td>
          Necesito un pastel para el cumpleaños de mi hijo, que esté decorado en
          base a un superhéroe.
        </td>
        <td>Oreo</td>
        <td>Bombones y Gominolas de azúcar variadas</td>
      </tr>
      <tr>
        <td>Ángela León</td>
        <td>6621580247</td>
        <td>leonangela15@hotmail.com</td>
        <td>Necesito un pastel con temática navideña.</td>
        <td>Zanahoria y Vainilla</td>
        <td>Chispitas de navidad</td>
      </tr>
    </table>
    <br />
    <a href="../index.html">Regresar a página principal</a>
  </body>
</html>
